
/* colors */

.color-porcelain { color: #F0F2F2; }
.color-greenishyellow { color: #3C4022; }
.color-orangyred { color: #8C4130; }
.color-pinkflare { color: #D9C7C5; }
.color-Charcoal { color: #323033; }

/* font-size */

.fs-12 { font-size:12 }
.fs-16 { font-size: 16px }
.fs-20 { font-size: 20px;}


.nodecoration > * { text-decoration: none; }

.highlight { background:linear-gradient (180deg, transparent 60%, #8C4130 60%); }


/* Menu Box */

header {
    height: 110px;
    position:-ms-page;
    width: auto;
    background-color: #F0F2F2;
    border-radius: 15px 50px;
    margin-top: 0%;
}

    .logo {
        float:left;
        margin-top: 0.4%;
        margin-left: 2%;

    }

    nav > * {
        background-color: #8C4130;
        border-radius: 15px 50px;
        padding-left:2%;
        padding-right: 2%;
        float: inline-end;

        text-decoration: none;
        color:#F0F2F2;
        font-style: oblique;
        font-size: x-large;

    }




/* Article */

h2 {
    font-family: 'Dancing Script';
}

body {
    background-color: #D9C7C5;

}



hr {
    width:100%;
}